// FIX add animation to button's after
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px !important;
  background-color: $main-color !important;
  border-radius: 50px !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 1.2rem !important;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  &:hover::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 102%;
    height: 102%;
    border-radius: 50px;
  }
}
